
@{
    ViewBag.Title = "Installation";
}

<h2>Installation</h2>

<h3>Install TGUApp for Android using link below (from Chrome on device):</h3>
<a style="font-size:medium;" href="http://tguapp.benemanuel.net/Installation/com.benemanuel.TGUApp-Signed.apk">Install</a><br /><br />

<h3>Installation Instructions:</h3>

<h4>Allow "Download Apps from Unknown Sources"</h4>

<span>On device, select Settings > Security &amp; Privacy > More Settings</span><br /><br />
<span>Switch on "Download Apps from Unknown Sources" - if this option is not present you may be able to skip this step.</span>

<h4>Install</h4>

<span>Open Chrome, navigate to http://tguapp.benemanuel.net</span><br /><br />
<span>Select "Installation" from main menu (menu shows when you tap on the menu icon in top right corner of screen).</span><br /><br />
<span>Tap on "Install" link.</span><br /><br />
<span>You will be asked questions like "Are you sure?" etc - simply keep on saying "Yes"</span><br /><br />

<h4>Disallow "Download Apps from Unknown Sources"</h4>

<span>Simply navigate back to Settings > Security &amp; Privacy > More Settings and switch off "Download Apps from Unknown Sources"</span><br /><br />

<h4>Give App Permissions</h4>

<span>To add the needed permissions, follow the following steps:</span><br /><br />
<span>On device, navigate to Settings >> Apps >> Permissions</span><br /><br />

<span>Repeat following for "Camera", "Microphone" and "Storage":</span><br /><br />
<span>Click on permission to give (eg. Camera), scroll down to "TGUApp.Android" and switch on permission. Click back button and repeat for each permission.</span>
<span></span>